 * {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

 
 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-logo {
  height: 50px;
}

.title-box{
  color: black;
}

.btn-dark {
  color: black;
  background-color: rgb(238, 200, 44);
  border: none;
  margin-right: -90px;
}

.btn-dark:hover {
  background-color: rgb(139, 114, 14);
}

.custom-header-navbar {
  background-color: rgb(238, 200, 44) !important;
}

.custom-header-navbar .navbar-brand,
.custom-header-navbar .nav-link {
  color: white;
}

.header-logo {
  height: 50px;
  width: auto;
}


@media (max-width: 768px) {
  .header-logo {
    height: 40px;
  }
}

.home-section {
  background-color: rgb(238, 200, 44);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-section-part {
  width: 100%;
  padding: 2px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section-part.part-1 {
  padding-top: 50px;
}

.home-section-part.part-3 {
  padding-bottom: 0;
  min-height: auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.title-box {
  background-color: rgb(255, 255, 255);
  padding: 30px 40px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 80%;
}

.title-box h1 {
  font-size: 2.8rem;
  line-height: 1.1;
  margin-bottom: 0;
  color: black;
}

.home-section-part p {
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  color: black;
  margin-bottom: -400px;
}

.image-overlay-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-section-fundo-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center bottom;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.home-section-img1-img {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  object-fit: contain;
  opacity: 0.9;
  z-index: 2;
}


@media (max-width: 576px) {
  .App-header {
    padding: 10px;
    font-size: calc(8px + 2vmin);
    flex-direction: column;
    justify-content: flex-start;
  }

  .header-logo {
    height: 30px;            
    margin-bottom: 10px;
  }
  .btn-dark {
    display: block;
    width: 10%;
    margin: 10px 0 0 0;     
    padding: 5px;
    font-size: 0.9rem;
  }

  /* Navbar links empilhados */
  .custom-header-navbar .navbar-collapse {
    flex-direction: column;
  }
  .custom-header-navbar .nav-link {
    padding: 8px 0;
    text-align: center;
  }

  /* Seção Home */
  .home-section {
    padding: 20px 0;
  }
  .home-section-part {
    padding: 1px 0;
    min-height: 10px;
    flex-direction: column;
  }
  .home-section-part.part-1 {
    padding-top: 20px;
  }

  .title-box {
    padding: 20px 15px;
    max-width: 95%;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  }
  .title-box h1 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .home-section-part p {
    font-size: 0.1rem;
    padding: 0 1px;
    line-height: 1.0;
  }

  .image-overlay-wrapper {
    margin-bottom: -20px;
  }

} 

@font-face {
  font-family: 'Fonte1';
  src: url('./Fonts/Nunito-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Fonte2';
  src: url('./Fonts/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fonte3';
  src: url('./Fonts/Nunito-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fonte4';
  src: url('./Fonts/Nunito-Regular.ttf') format('truetype');
}

