.home-section-2 {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.home-section-2-content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-box-home-section-2 {
    margin-bottom: 30px;
}

.home-section-part-1-text {
    font-size: 2.8em;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin: 0;
}

.hero-carousel-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-bottom: 6px;
}

.custom-indicators-2 {
    margin-bottom: 12px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.custom-indicators-2 button {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #3f3e3e;
    opacity: 0.5;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.custom-indicators-2 button.active {
    width: 16px;
    height: 16px;
    opacity: 1;
    background-color: #474242;
}

.hero-carousel-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.btn-send-signal {
    margin: 0 auto;
    background-color: rgb(27, 155, 44);
    color: white;
    max-width: 300px;
    height: 50px;
}

.btn-send-signal:hover {
    background-color: rgb(17, 92, 27);
}

@media (max-width: 576px) {

.hero-carousel-container{
    width: 80%;
}

.custom-indicators-2 {
    margin-bottom: 12px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.custom-indicators-2 button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #3f3e3e;
    opacity: 0.5;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.custom-indicators-2 button.active {
    width: 16px;
    height: 16px;
    opacity: 1;
    background-color: #474242;
}
    
.btn-send-signal {
    margin: 0 auto;
    background-color: rgb(27, 155, 44);
    color: white;
    width:  30%;
    height: 50px;
}

}




