
.home-section-5{
    background-color: white;
    padding-bottom: 400px;
    padding-top: 400px;
}

.title-box-home-section-5{
    color: rgb(222, 0, 230);
    align-items: center;
    font-size: 2rem;
}
